<div class="container row-flex">
<div id="indexTextPadding">
<h3 class="body-text-color">{{title}}</h3>
<p class="body-text-color">Welcome to {{title}}</p>
</div>
<div>
<img src="/images/inronhack2.png" alt="Ironhack Logo" id="indexImageSizing" />
</div>

</div>